html
    head
        title Data Mahasiswa
    body
        a(href="http://localhost:3000/mataKuliah/register") Tambah Mata Kuliah
        table
            tr
                td No.
                td Kode Mata Kuliah
                td Nama Mata Kuliah
                td SKS
                td Kode Program Studi
                td Action
            for row, index in data
                tr
                    td #{index + 1}
                    td #{row.kode_mata_kuliah}
                    td #{row.nama}
                    td #{row.sks}
                    td #{row.kode_program_studi}
                    td
                        form(action=`/mataKuliah/${row.kode_mata_kuliah}?_method=DELETE`, method="post")
                            input(type="submit", value="Hapus")
                            a(href=`/mataKuliah/${row.kode_mata_kuliah}/edit`) Ubah
